<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Greenery.SocketClient.Protocol" version="1.0.0.4" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="SuperSocket" version="1.6.6.1" targetFramework="net45" />
  <package id="SuperSocket.ClientEngine" version="0.8.0.7" targetFramework="net45" />
  <package id="SuperSocket.Engine" version="1.6.6.1" targetFramework="net45" />
  <package id="SuperSocket.ProtoBase" version="1.7.0.12" targetFramework="net45" />
</packages>